.card-cadastro {
    width: 70%;
    margin: 5% auto;
    border-radius: 8px;
    min-width: 200px;
    max-width: 600px;
}

.form-fields {
    width: 100%;
}

.card-info {
    width: 70%;
    margin: 5% auto;
    min-width: 200px;
    max-width: 600px;
    border-radius: 10px;
}

.error-msg {
    color: red;
    background-color: rgb(37, 37, 37);
    font-weight: bold;
}

.success-msg {
    color: green;
    background-color: rgb(37, 37, 37);
    font-weight: bold;
}