<mat-toolbar class="barra-servicos">
  <span>Serviços</span>
</mat-toolbar>

<div style="margin-top: 10px; margin-bottom: 10px">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtros Pesquisa
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="formPesquisa">
        <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
            <div fxFlex="40%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" class="form-fields">
                    <mat-label>Clínica</mat-label>
                    <input matInput placeholder="Clínica" formControlName="nomeClinica" type="text" autocomplete="off">
                    <mat-icon matSuffix>add_business</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex></div>
            <div fxFlex="55%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline">
                    <mat-label>Escolha uma opção</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let tipo of tipoLista" [value]="tipo">{{ tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
        </div>
      </form>

      <mat-action-row>
        <button mat-raised-button color="primary">Pesquisar</button>
        <button mat-raised-button>Limpar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <mat-card class="card-pesquisa">
    <mat-card-title>Filtros Pesquisa</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formPesquisa">
        <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
            <div fxFlex="40%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" class="form-fields">
                    <mat-label>Clínica</mat-label>
                    <input matInput placeholder="Clínica" formControlName="nomeClinica" type="text" autocomplete="off">
                    <mat-icon matSuffix>add_business</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex></div>
            <div fxFlex="55%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline">
                    <mat-label>Escolha uma opção</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let tipo of tipoLista" [value]="tipo">{{ tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Pesquisar</button>
      <button mat-raised-button>Limpar</button>
    </mat-card-actions>
</mat-card> -->

<!-- <div fxLayout="row wrap" xLayoutAlign="start center">
  <div *ngFor="let servico of servicos">
    <mat-card class="mat-card-servico" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <img mat-card-avatar class="avatar-icon" [src]="servico.urlIcon" alt="Icone Usuário">
        <mat-card-title>{{ servico.tipoServico }} - {{ servico.urgencia }}</mat-card-title>
        <mat-card-subtitle>{{ servico.nome }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="servico.urlBanner"  alt="Imagem do Usuário">
      <mat-card-content>
        <p>{{ servico.descricao }}</p>
        <p>{{ servico.dataServico }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Escolher</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Serviço </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.tipoServico}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="clinica">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Clínica </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.nome}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="urgencia">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Urgência </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.urgencia}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ação </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> 
          <button mat-icon-button><mat-icon style="color: blue;">info</mat-icon></button>
          <button mat-icon-button><mat-icon style="color: green;">check_box</mat-icon></button>
        </mat-cell >
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>
  
    <mat-paginator 
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons>
    </mat-paginator>
</div>