<mat-card class="card-pesquisa">
    <mat-card-title>Filtros Pesquisa</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formPesquisa">
        <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
            <div fxFlex="40%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" class="form-fields">
                    <mat-label>Clínica</mat-label>
                    <input matInput placeholder="Clínica" formControlName="nomeClinica" type="text" autocomplete="off">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex></div>
            <div fxFlex="55%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
                <mat-form-field appearance="fill">
                    <mat-label>Escolha uma opção</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let tipo of tipoLista" [value]="tipo">{{ tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Pesquisar</button>
      <button mat-raised-button>Limpar</button>
    </mat-card-actions>
</mat-card>

<div fxLayout="row wrap" xLayoutAlign="start center">
  <div *ngFor="let servico of servicos">
    <mat-card class="mat-card-servico" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <img mat-card-avatar class="avatar-icon" [src]="servico.urlIcon" alt="Icone Usuário">
        <mat-card-title>{{ servico.tipoServico }} - {{ servico.urgencia }}</mat-card-title>
        <mat-card-subtitle>{{ servico.nome }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="servico.urlBanner"  alt="Imagem do Usuário">
      <mat-card-content>
        <p>{{ servico.descricao }}</p>
        <p>{{ servico.dataServico }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Escolher</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>