.wallpaper {
    display: none;
    width: 45vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    background: url(../../../../assets/imgs/vetHeart_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: 30% 45%;
    background-size: cover;
}

mat-card {
    border-radius: 10px;
    margin: auto;
    min-width: 200px;
    max-width: 600px;
}

button {
    width: 100px;
}

@media screen and (min-width: 1024px){
    .wallpaper {
        display: block;
    }
}