<mat-card class="card-pesquisa">
  <mat-card-title>Filtros Pesquisa</mat-card-title>
  <mat-card-content>
    
    <div fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add_circle</mat-icon> Novo</button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Pesquisar</button>
    <button mat-raised-button>Limpar</button>
  </mat-card-actions>
</mat-card>

<div fxLayout="row wrap" xLayoutAlign="start center">
  <div *ngFor="let servico of servicos">
    <mat-card class="mat-card-servico" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title>{{ servico.tipoServico }} - {{ servico.urgencia }}</mat-card-title>
        <mat-card-subtitle>{{ servico.idClinica }}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>{{ servico.descricao }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Escolher</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Serviço </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.tipoServico}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="clinica">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.idClinica}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="urgencia">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Urgência </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.urgencia}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let servicos"> {{servicos.descricao}} </mat-cell >
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>
  
    <mat-paginator 
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons>
    </mat-paginator>
</div> -->