.card-login {
    width: 70%;
    margin: 5% auto;
    border-radius: 10px;
    min-width: 200px;
    max-width: 300px;
}

.example-form {
    min-width: 200px;
    max-width: 600px;
    width: 100%;
}

.form-fields {
    width: 100%;
}