<h1 mat-dialog-title>Hi Bruno</h1>
<div mat-dialog-content>
  
  <form [formGroup]="formServico"> 
    <mat-form-field appearance="outline" class="form-fields">
      <mat-label>Rua</mat-label>
      <input matInput placeholder="Rua" autocomplete="off">
      <mat-icon matSuffix>assignment_ind</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-fields">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Bairro" autocomplete="off">
      <mat-icon matSuffix>assignment_ind</mat-icon>
    </mat-form-field>
    
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial>Salvar</button>
</div>